<!DOCTYPE html>
<html>
    <head>
    <script src="js/lib/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/flashCardsFactory.js"></script>
    <script src="js/factories/scoreFactory.js"></script>
    <script src="js/controllers/mainController.js"></script>
    <script src="js/controllers/flashCardController.js"></script>
    <script src="js/controllers/statsController.js"></script>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body ng-app='bunnies'>
      <div ng-include="'templates/statistics.html'"></div>
      <div ng-controller='MainController'>
        <div align='center'>
          <button class="category-button" ng-click="getCategoryCards('MongoDB')" ng-class='{active: currentCategory==="MongoDB"}'>MongoDB</button>
          <button class="category-button" ng-click="getCategoryCards('Express')" ng-class='{active: currentCategory==="Express"}'>Express</button>
          <button class="category-button" ng-click="getCategoryCards('Angular')" ng-class='{active: currentCategory==="Angular"}'>Angular</button>
          <button class="category-button" ng-click="getCategoryCards('Node')" ng-class='{active: currentCategory==="Node"}'>Node</button>
          <button class="category-button" ng-click="getCategoryCards()" ng-class='{active: currentCategory===undefined}'>ALL</button>
        </div>
        <div class="flash-card" ng-controller="FlashCardController" ng-repeat="flashCard in flashCards" ng-show="flashCard===currentFlashCard">
        <h3> {{flashCard.category}}</h3>
        <h1>{{ flashCard.question | uppercase }}</h1>
        <ul class="flash-card-answers">
            <li class="flash-card-answer" ng-repeat="answer in flashCard.answers" ng-click='answerQuestion(answer)'>
               {{ answer.text }}
            </li>
        </ul>
        <h2 class="answer-feedback" ng-show="answered" ng-class="{correct: answeredCorrectly, incorrect: !answeredCorrectly}">
        	<span ng-show="answeredCorrectly" >Yeah, you got it right!</span>
       		<span ng-show="!answeredCorrectly">Nope, you got it wrong.</span>
    	  </h2>
        </div>
        <h1 ng-click="nextQuestion()" id='nextQuestion'>Next>></h1>
      </div>
    </body>
</html>
